.section-hero-b {
    min-height: 60vh;
    background-color: #0a0a0a;
}
.grid-overlay-b {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:
    linear-gradient(rgba(38, 38, 38, 0.5) 1px, transparent 1px),
    linear-gradient(90deg, rgba(38, 38, 38, 0.5) 1px, transparent 1px);
    background-size: 60px 60px;
}
.blob-b {
    border-radius: 9999px;
    filter: blur(40px);
}
.blob-1-b {
    top: 5rem;
    left: 2.5rem;
    width: 18rem;
    height: 18rem;
    background-color: rgba(249, 115, 22, 0.1);
}

.blob-2-b {
    bottom: 5rem;
    right: 2.5rem;
    width: 24rem;
    height: 24rem;
    background-color: rgba(234, 179, 8, 0.05);
    animation: blob 8s infinite;
    animation-delay: -2s;
}

.blob-3-b {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: rgba(249, 115, 22, 0.05);
}
@keyframes blob {
    0% { transform: translate(0, 0) scale(1); }
    33% { transform: translate(20px, -30px) scale(1.05); }
    66% { transform: translate(-20px, 20px) scale(0.95); }
    100% { transform: translate(0, 0) scale(1); }
}
.custom-section-b {
    padding-top: 80px;
    padding-bottom: 80px;
}
.max-width-b {
    max-width: 56rem;
}
.section-label-b {
    border:1px solid #8f3c00a2;
    border-radius: 25px;
    padding: 10px 20px ;
    background-color: #b84d0021;
    gap: 0.5rem;
    margin-bottom: 2rem;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
}
.section-label-b::before {
    content: "";
    height: 4px;
    width: 4px;
    background: rgb(249, 115, 22);
    border-radius: 9999px;
    animation: pulse 2s ease infinite;
    -webkit-animation: pulse 2s ease infinite;
}
@keyframes pulse {
    0%, 100% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.5); opacity: 0.6; }
}
.fade-in-b {
    animation: fadeIn 0.8s ease-in-out forwards;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}
.fa-newspaper{
    color: #f97316;
}
.ping-dot-b {
    width: 8px;
    height: 8px;
}
.ping-circle-b {
    inset: 0;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    background-color: #f97316;
    opacity: 0.75;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
.ping-core-b {
    width: 8px;
    height: 8px;
    border-radius: 9999px;
    background-color: #f97316;
}
@keyframes ping {
    0% {
    transform: scale(1);
    opacity: 0.75;
    }
    75%, 100% {
    transform: scale(2);
    opacity: 0;
    }
}
.text-neutral-b {
    color: #d1d5db;
}
.text-sm-b {
    font-size: 14px;
}
.font-me-b {
    font-weight: 500;
}
.hero-title-b{
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 24px;
    line-height: 1.25;
    letter-spacing: -0.05em;
    font-size: 48px; 
}
.gradient-text-b {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(135deg, rgb(249, 115, 22), rgb(251, 191, 36)) text;
}
.hero-subtitle-b {
    font-size: 12px;
    color: #9ca3afb0;
    margin-bottom: 40px;
    max-width: 672px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.625;
}
.custom-sticky {
    top: 5rem;
    z-index: 40;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.9);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    border-bottom: 1px solid #262626;
}
.max-w-b{
    max-width: 80rem;
}
.input-scolor {
    background-color: #0a0a0a;
    border: 1px solid #262626;
    outline: none;
    border-radius: 15px;
    color: #fff;
    padding: 0.75rem 1.25rem;
    padding-right: 3rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.input-scolor:focus{
    border: 1px solid #f97316;
}

.fa-magnifying-glass{
    width: 1.25rem;
    height: 1.25rem;
    color: #262626;
}
.blog-btn {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    border-radius: 12px;
    background: linear-gradient(90deg, #f97316, #ea580c);
    transition: all 0.3s ease;
    border: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.blog-btn-outline {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #161616;
    color: #9ca3af;
    border: 1px solid #262626;
    border-radius:12px;
    transition: all 0.3s ease;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.blog-btn-outline:hover {
    border-color: rgba(249, 115, 22, 0.3);
    color: #fff;
}
.blog-btn-outline.active {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #161616;
    color: #9ca3af;
    border: 1px solid #262626;
    border-radius:12px;
    transition: all 0.3s ease;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
}
.blog-btn-outline.active:hover {
    border-color: rgba(249, 115, 22, 0.3);
    color: #fff;
}
.scroll-offset {
    scroll-margin-top: 146px;
    border-top: 1px solid #262626;
}
.style-color-b {
    color: #9ca3af;
    font-weight: 500;
}
.blog-style-box {
    background-color: #161616;
    border: 1px solid #262626;
    border-radius: 1rem;
    padding: 0.25rem;
}
.blog-btn-style {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.blog-btn-style:hover {
    filter: brightness(0.95);
}
.custom-btn-text {
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    color: #9ca3af;
    transition: all 0.3s ease;
    background: transparent;
    border: none;
}
.custom-btn-text:hover {
    color: #fff; 
}
.active-view {
    background: #ff7a00 !important;
    color: white !important;
}
.cardblog-grid {
    display: grid;
    grid-template-columns: 1fr;
}
.card-img-top{
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
}
.card1-blog:hover .card-img-top {
    transform: scale(1.10);
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}
.hb-50{
    height: 13rem;
}
.style-blog-card-sec{
    background: linear-gradient(to top,rgba(26, 25, 25, 0.6),transparent 50%,transparent);
    border: 1px solid #161616 !important;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
}
.overlayb-gradient {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.6),transparent 50%,transparent) ;
    opacity: 0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.card1-blog:hover .overlayb-gradient {
    opacity: 1;
}
.blog-position{
    top: 1rem;
    right: 1rem;
}
.custom-badgeb {
    padding: 0.25rem 0.75rem;
    background-color: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 999px;
    border: 1px solid #333333;
}
.textb-card {
    color: #737373;
}
.dot-blog-card {
    width: 4px;
    height: 4px;
    background-color: #525252;
    border-radius: 50%;
}
.title-blog-style {
    line-height: 1.25;
    transition: color 0.3s ease;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card1-blog:hover .title-blog-style {
    color: #f97316;
}
.fixed-h{
    height: 550px;
}
.disabled-cardb{
    background-color: #0a0a0a;
    border:1px solid #262626 !important;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    cursor: not-allowed;
}
.cardb-hover{
    background-color: #161616;
    border:1px solid #262626 !important;
    transition: all 0.3s ease;
}
.cardb-hover:hover{
    border: 1px solid  rgba(249, 115, 22, 0.5) !important;
    background-color: #1a1a1a;
}
.btn-filter{
    min-width: 50px;
    height: 50px;
    background-color: #161616;
    color: #a3a3a3;
    border: 1px solid #262626 !important;
    transition: all 0.3s ease;
}
.btn-filter:hover{
    border: 1px solid rgba(249, 115, 22, 0.5) !important;
    color: #fff !important;
}
.btn-filter.active{
    min-width: 50px;
    height: 50px;
    background:linear-gradient(90deg, #f97316, #ea580c);;
    color: white;
    border: 1px solid #262626 !important;
    transition: all 0.3s ease;
}
.btn-filter.active:hover{
    border: 1px solid rgba(249, 115, 22, 0.5) !important;
    color: #fff !important;
}















@media (min-width: 768px) {
    .hero-title-b {
    font-size: 60px;
    }
}
@media (min-width: 1024px) {
    .hero-title-b {
    font-size: 72px;
    }
}
@media (min-width: 768px) {
    .hero-subtitle-b {
    font-size: 24px;
    }
}
@media (min-width: 768px) {
    .w-md-b {
        width: 20rem;
    }
}
@media (min-width: 768px) {
    .cardblog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .cardblog-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 992px) {
    .card-list-mode .card-img-wrap {
        height: 100% !important;
        min-height: 240px;
    }
}